body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    font-family: stylish;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-right a.active {
    font-weight: bold;
}

.search-bar {
    display: block;
    text-align: center;
    margin: 20px 0;
}

.search-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input, .search-bar select{
    padding: 10px;
    font-size: 16px;
}

.search-bar input {
    width: 70%;
}

.search-bar select {
    margin-left: 10px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.search-bar button:hover {
    background-color: #0056b3;
}

main {
    text-align: center;
    padding: 20px;
}

/* Results */

.search-results {
    margin: 20px;
}

.search-results h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.search-results table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.search-results table th, .search-results table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.search-results table th {
    background-color: #007bff;
    color:white;
    font-weight: bold;
}

.search-results .request-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-results .request-button:hover {
    background-color: #0056b3;
}


/* Modal styles */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal form label {
    margin: 10px 0 5px;
}

.modal form textarea, .modal form input[type="number"], .modal form input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.modal form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal form button:hover {
    background-color: #0056b3;
}
