body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    font-family: stylish;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-right a.active {
    font-weight: bold;
}

main {
    padding: 20px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-section {
    display: flex;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 100px;
    height: 100px;
    background-color: #cfcfcf;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.profile-info p {
    margin: 0;
    font-size: 18px;
}

.profile-info h2, .welcome-section h3 {
    margin: 10px 0 30px 0;
}

.profile-info h2 {
    font-size: 28px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-section h3 {
    font-size: 24px;
}

.request {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.request span {
    flex-grow: 1;
    font-size: 18px;
}

#no_results{
    text-align: center;
}

.view-btn, .accept-btn, .reject-btn {
    padding: 10px 15px;
    margin-left: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.view-btn {
    background-color: #ffc107;
}

.accept-btn {
    background-color: #28a745;
}

.reject-btn {
    background-color: #dc3545;
}

.view-btn:hover {
    background-color: #e0a800;
}

.accept-btn:hover {
    background-color: #218838;
}

.reject-btn:hover {
    background-color: #c82333;
}