body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    font-family: stylish;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-right a.active {
    font-weight: bold;
}

/* Requests Section */
.requests-section {
    padding: 20px;
}

.requests-section h2 {
    text-align: center;
}

.requests-section ul {
    list-style-type: none;
    padding: 0;
}

.request-item {
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 20px;
}

.update-request-button, .delete-request-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-request-button {
    background-color: #ffc107;
}

.delete-request-button {
    background-color: #dc3545;
}

.update-request-button:hover {
    background-color: #e0a800;
}

.delete-request-button:hover {
    background-color: #c82333;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; /* Adjust spacing between buttons */
    margin-top: 10px; /* Adjust as needed */
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal form label {
    margin: 10px 0 5px;
}

.modal form input[type="text"], .modal form input[type="number"], .modal form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 98%;
}

.modal form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal form button:hover {
    background-color: #0056b3;
}