<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsor Dashboard</title>
    <link rel="stylesheet" href="/static/css/camp_spons.css">
</head>
<body>
    <header>
        <h1>ENGAGE-X</h1>
    </header>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-left">
            <span>Sponsor</span>
        </div>
        <div class="navbar-right">
            <a href="{{ url_for('sdashboard') }}" class="active" id="profile-link">Profile</a>
            <a href="{{ url_for('scampaigns') }}" class="active" id="campaigns-link">Campaigns</a>
            <a href="{{ url_for('find_sponsor') }}" id="find-link">Find</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </nav>

    <!-- Create Campaign Section -->
    <div id="campaigns-section" class="campaigns-section">
        <h2>Your Campaigns</h2>
        <ul id="campaign-list">

            {% for campaign in campaigns %}
                    <div class="campaign-overview">
                        <span class="campaign-title">{{ campaign.title }}</span>
                        <span class="campaign-progress">Progress: <em>{{ campaign.progress }}%</em></span>
                        <span class="campaign-funds">Funds: Rs <em>{{ campaign.funds }}</em></span>
                        <form class="view-more-form" 
                        action="{{ url_for('view_details', id=campaign.id, source = 'campaign') }}" 
                        method="POST">
                            <input type="hidden" name="userID" value="{{ userID }}">
                            <button type="submit" class="view-more-button">View more</button>
                        </form>
                    </div>
            {% endfor %}
        </ul>
        <button id="create-campaign-button" class="create-campaign-button">+ Create New Campaign</button>
    </div>

    <!-- Modal for new campaign-->
    <div id="create-campaign-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Create New Campaign</h2>
            <form id="create-campaign-form">
                <input type="hidden" name="sponsor_id" value="{{ userID }}">

                <label for="title">Campaign Title:</label>
                <input type="text" id="title" name="title" required>
    
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="4" required></textarea>
    
                <label for="goals">Goals:</label>
                <textarea id="goals" name="goals" rows="4" required></textarea>
    
                <label for="funds">Funds:</label>
                <input type="number" id="funds" name="funds" required>
    
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" required>
    
                <label for="days">Days:</label>
                <input type="number" name="days" id="days" required>

                <label for="title">Visibility:</label>
                <select name="visibility" id="visibility" required>
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
    
                <button type="submit">Create Campaign</button>
            </form>
        </div>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const requestButtons = document.querySelectorAll('.request-button');
            const modal = document.getElementById('request-modal');
            const closeModal = document.querySelector('.modal .close');
            const modalCampaignId = document.getElementById('modal-campaign-id');

            const createCampaignButton = document.getElementById('create-campaign-button');
            const createCampaignModal = document.getElementById('create-campaign-modal');
            const closeCreateCampaignModal = document.querySelector('#create-campaign-modal .close');
            


            requestButtons.forEach(button => {
                button.addEventListener('click', function() {
                    modal.style.display = 'block';
                    modalCampaignId.value = this.dataset.campaignId;
                });
            });
    
            // Show create campaign modal when 'Create New Campaign' button is clicked
            createCampaignButton.addEventListener('click', function() {
                createCampaignModal.style.display = 'block';
            });
    
            // Close modals when 'x' is clicked
            [closeModal, closeCreateCampaignModal].forEach(close =>{
                close.addEventListener('click', () => {
                    close.parentElement.parentElement.style.display = 'none';
                });
            })
    
            // Close modal when clicking outside of the modal content
            window.addEventListener('click', (e) => {
                [modal, createCampaignModal].forEach(modal => {
                    if (e.target === modal) modal.style.display = 'none';
                });
            });

            const formHandler = (formId, endpoint, req) => {
                document.getElementById(formId).addEventListener('submit', e => {
                    e.preventDefault();
                    //console.log("hit");
                    const formData = new FormData(e.target);
                    const data = Object.fromEntries(formData.entries());
    
                    //console.log(data)
        
                    fetch(endpoint, {
                        method: req,
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(data)
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success:', data);
                            alert(data.message)
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Error occurred. Please try again later.');
                        });
                });
            };
            
            formHandler('create-campaign-form', '/api/campaign', 'POST'); // For creating new campaigns

        });
    </script>

</body>
</html>