<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Influencer Dashboard</title>
    <link rel="stylesheet" href="/static/css/idashboard.css">
</head>
<body>
    <header>
        <h1>ENGAGE-X</h1>
    </header>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-left">
            <span>Influencer</span>
        </div>
        <div class="navbar-right">
            <a href="{{ url_for('idashboard') }}" class="active" id="profile-link">Profile</a>
            <a href="{{ url_for('find_influencer') }}" id="find-link">Find</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </nav>
    
    <main>
        <div class="dashboard">
            <div class="profile-section">
                <div class="profile-info">
                    <h2>Welcome {{ name }}!</h2>
                    <br>
                    <p>Total Earnings: Rs {{ funds }}</p>
                </div>
            </div>
            <div class="welcome-section">
                <div class="header-container">
                    <h3>New Requests:</h3>
                    <form class="view-requests" 
                              action="{{ url_for('view_requests', id=userID, source='influencer') }}" 
                              method="POST">
                            <input type="hidden" name="userID" value="{{ userID }}">
                            <button type="submit" class="view-btn">View All</button>
                    </form>
                </div>
                {% if requests %}
                    {% for request in requests %}
                    <div class="request">
                        <span>{{ request.campaign_title }} | {{ request.sponsor_name }}</span>
                        <form action="{{ url_for('update_request_status', request_id=request.request_id, source = 'influencer') }}" method="POST">
                            <input type="hidden" name="action" value="accept">
                            <button class="accept-btn" type="submit">Accept</button>
                        </form>
                        <form action="{{ url_for('update_request_status', request_id=request.request_id, source = 'influencer') }}" method="POST">
                            <input type="hidden" name="action" value="reject">
                            <button class="reject-btn" type="submit">Reject</button>
                        </form>

                    </div>
                    {% endfor %}
                {% else %}
                <div class="request" id="no_results">  <span> N/A</span>   </div>
                {% endif %}
            </div>
        </div>

    </main>

    
</body>
</html>